<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raise.mapper.AccountMapper">

    <resultMap id="UserAccount" type="userAccount">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="money" column="money"/>
    </resultMap>
    <insert id="save">
        insert into useraccount values (0,#{userName},#{money})
    </insert>

    <select id="selectAll" resultMap="UserAccount">
        select * from useraccount
    </select>


</mapper>